@model MVCDemo.Models.Libro

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Libro</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ISBN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ISBN)
            @Html.ValidationMessageFor(model => model.ISBN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.titulo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.titulo)
            @Html.ValidationMessageFor(model => model.titulo)
        </div>

        <div>

            <label>Autor</label>
            <input type="text" name="aut" value="" />
            <br />

            <label>Genero</label>
            <input type="text" name="gen" value="" />
            <br />

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaDeEdicion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaDeEdicion)
            @Html.ValidationMessageFor(model => model.fechaDeEdicion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idEditorial, "Editorial")
        </div>
        <div class="editor-field">
            @Html.DropDownList("idEditorial", String.Empty)
            @Html.ValidationMessageFor(model => model.idEditorial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cantidadPaginas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cantidadPaginas)
            @Html.ValidationMessageFor(model => model.cantidadPaginas)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
