@{
    Page.Title = "Listado de libros";
    Layout = "../Layout.cshtml";
    
    LibroDBEntities le = new LibroDBEntities();
    
    if ( Request["delete"] != null )
    {

        string isbnABorrar = Request["delete"];

        Libro libro = le.Libro.SingleOrDefault(l => l.ISBN == isbnABorrar);

        List<Genero> listaGeneros = libro.Genero.ToList();
        List<Autor> listaAutores = libro.Autor.ToList();

        listaGeneros.Clear();
        listaAutores.Clear();
        
        le.Libro.Remove(libro);
        le.SaveChanges();
    }
    
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div>
    <table class="table table-hover">

        <tr>
            <th>ISBN</th>
            <th>Nombre</th>
            <th>Fecha de edición</th>
            <th>Genero</th>
            <th>Editorial</th>
            <th>         </th>
        </tr>
        @foreach (var item in le.Libro)
        {
            <tr>
                <td>@item.ISBN</td>
                <td>@item.nombre</td>
                <td>@item.fechaDeEdicion.Day / @item.fechaDeEdicion.Month / @item.fechaDeEdicion.Year</td>
                <td>
                @foreach (Genero item2 in item.Genero)
                {
                       @item2.nombre
                       <br />
                }
                </td>
                @foreach (var item2 in le.Editorial)
                {
                    if (item2.idEditorial == item.idEditorial)
                    { 
                        <td>@item2.nombre</td>
                        
                    }
                }
                <td> <a class="btn btn-danger" href="?delete=@item.ISBN">Eliminar</a></td>
            </tr>
        }

    </table>
</div>
