@model TF_Base.Models.Registro

@{
    ViewBag.Title = "Register";
    Layout = "../Layout.cshtml";
}

<div class="text-center">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Registro</legend>
        <div class="editor-label">
            @Html.LabelFor(f => f.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(f => f.UserName)
            @Html.ValidationMessageFor(f => f.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(f => f.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(f => f.Nombre)
            @Html.ValidationMessageFor(f => f.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(f => f.Apellido)
        </div>
        <div class="editor-field">
            @Html.EditorFor(f => f.Apellido)
            @Html.ValidationMessageFor(f => f.Apellido)
        </div>

        <div class="editor-label">
            @Html.LabelFor(f => f.Dni)
        </div>
        <div class="editor-field">
            @Html.EditorFor(f => f.Dni)
            @Html.ValidationMessageFor(f => f.Dni)
        </div>

        <div class="editor-label">
            @Html.LabelFor(f => f.UserEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(f => f.UserEmail)
            @Html.ValidationMessageFor(f => f.UserEmail)
        </div>
        <br />
        <div class="editor-label">
            @Html.LabelFor(f => f.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(f => f.Password)
        @Html.ValidationMessageFor(f => f.Password)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(f => f.PasswordConfirmation)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(f => f.PasswordConfirmation)
        @Html.ValidationMessageFor(f => f.PasswordConfirmation)
        </div>
        <br />
        <input class = "btn btn-primary" type="submit" value="Registrarme" />
    </fieldset>
}
</div>